In [4]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4,5,6],"B":[11,22,33,44,55,66]})
var2 = pd.DataFrame({"A":[1,2,3,4,5,6],"C":[21,22,23,24,25,26]})

pd.merge(var1,var2)

   A   B   C
0  1  11  21
1  2  22  22
2  3  33  23
3  4  44  24
4  5  55  25
5  6  66  26